.address__wrapper {
  padding: 26px 20px;
  display: flex;
  max-width: 320px;

  &--form {
    background-color: #f2f2f2;
  }
}

.address__title {
  .margin-padding_off();
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

.address__description {
  font-style: normal;
  line-height: 20px;
}
