.address__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  gap: 7px;

  &--form {
    background-color: @grey-light;
  }
}

.address {
  position: relative;
}

.address__title {
  .margin-padding_off();
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  text-align: left;
}

.address__description {
  font-style: normal;
  line-height: 20px;
}

.address__map {
  width: 100%;
}

@media (min-width: @width-desktop) {
  .address__wrapper {
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 56px 80px;
    box-sizing: border-box;
  }
}
