/*colors*/
@black: #000000;
@black-light: #222222;
@black-max_light: #444444;
@sotial_media_icon-color: #666666;
@logo-text_fill: #111111;
@green: #68b738;
@green-transparency: #69b838d9;
@white: #ffffff;
@grey-light: #f2f2f2;
@cooperation-address-bg: #ffffff;
@living-proof-bg:#eaeaea;
@living-proof-border:#cdcdcd;
@additional-border:#cdcdcd;
@required-options-border:#cdcdcd;
@catalog_popover_bg: #ffffff;
@decor_line:#E6E6E6;
@field_border_color: #E7E7E7;
@form_decor_line: #d9d9d9;
@footer_decor_line: #d9d9d9;
@catalog_popover_line: #E6E6E6;
@error_status: #FF8282;

html {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.main-container,
.catalog,
.form-page {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field {
  .main-fonts();
  width: 100%;
  padding: 11px 40px 11px 20px;
  border: none;
  outline: 1px solid @field_border_color;
  box-sizing: border-box;
  text-transform: uppercase;
}

/*Обнуление margin и padding*/
.margin-padding_off() {
  margin: 0;
  padding: 0;
}

/*PADDING*/
/*mobile*/
.global-padding_mobile() {
  padding: 0 20px;
}

/*tablet*/
.global-padding_tablet() {
  padding: 0 30px;
}

/*desktop*/
.global-padding_desktop() {
  padding: 0 110px;
}

.padding-main-title_tablet() {
  padding-left: 117px;
}

/*viewports*/
@width-mobile: 320px;
@width-tablet: 768px;
@mobile-width-only: 767px;
@width-desktop: 1440px;

/*font*/
.main-fonts() {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

/*text*/
.text-trasform() {
  text-transform: uppercase;
}

/*hide element*/
.navigation--closed {
  display: none;
}

.navigation--opened {
  display: block;
}

/*размер заголовков */
.fonts-size-title_width-tablet() {
  font-size: 60px;
  line-height: 60px;
}

.fonts-size-title_catalog-item() {
  font-size: 20px;
  line-height: 24px;
}

.fonts-size-form__subtitle() {
  font-size: 36px;
  line-height: 36px;
}

.fonts-size-additional-items() {
  font-size: 20px;
  line-height: 20px;
}

.fonts-size-living-proof__cost() {
  font-size: 20px;
  line-height: 20px;
}

.font-size-form-page__description() {
  font-size: 20px;
  line-height: 30px;
}

.font-size-form-page_tablet() {
  font-size: 20px;
  line-height: 30px;
}

.living-proof__number-tablet() {
  font-size: 30px;
  line-height: 37px;
}

.living-proof__number-description-tablet() {
  font-size: 14px;
  line-height: 14px;
}

.button-font-size_tablet() {
  font-size: 20px;
  line-height: 20px;
}
