.form-page__button__wrapper {
  .global-padding_mobile();
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  line-height: 16px;
}

.form-page__button {
  border: none;
  width: 100%;
  color: @white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @green;
}

@media (min-width: @width-tablet) {
  .form-page__button__wrapper {
    flex-direction: row;
    margin-bottom: 72px;
  }

  .form-page__button {
    min-width: 282px;
    width: auto;
  }
}

@media (min-width: @width-desktop) {
  .form-page__button__wrapper {
    margin-bottom: 82px;
  }
}
