.form-page__description {
  font-size: 14px;
}

@media (min-width: @width-tablet) {
  .form-page {
    padding: 0 70px;
  }

  .form-page__title {
    .fonts-size-title_width-tablet();
    margin-bottom: 54px;
  }

  .form-page__description {
    .font-size-form-page__description();
    max-width: 323px;
  }
}

@media (min-width: @width-desktop) {
  .form-page {
    .global-padding_desktop();
  }

  .form-page__desktop-wrapper {
    display: flex;
    padding-top: 66px;
    column-gap: 80px;
    margin-bottom: 65px;
  }
}
