.form-page {
  padding: 0 20px;
}

@media (min-width: @width-tablet) {
  .form-page {
    padding: 0 70px;
  }
}

@media (min-width: @width-desktop) {
  .form-page__desktop-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
