.form-page__main-data__wrapper {
  .global-padding_mobile();
  padding-top: 39px;
  padding-bottom: 24px;
  border-bottom: 1px solid @form_decor_line;
}

.form-page__main-data__item {
  display: flex;
  column-gap: 13px;
  align-items: center;
}

.form-page__main-data {
  .margin-padding_off();
  color: @black-max_light;
  border: none;
}

.form-page__main-data__list {
  .margin-padding_off();
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (min-width: @width-tablet) {
  .form-page__main-data__wrapper {
    padding: 0;
    padding-top: 66px;
    margin-bottom: 72px;
    border-bottom: none;
  }

  .form-page__main-data__list {
    gap: 20px;
  }
}
