.form-page__main-data__wrapper {
  padding: 39px 20px 26px;
}

.form-page__main-data,
.form-page__main-data__field {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-page__main-data__list {
  .margin-padding_off();
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-page__main-data {
  .margin-padding_off();
  border: none;
}
