.form-page__user-data__wrapper {
  padding-top: 26px;
  margin-bottom: 24px;
}

.user-data__label,
.user-data__field {
  .main-fonts();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black-max_light;
}

.user-data__list {
  .margin-padding_off();
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.user-data {
  .margin-padding_off();
  border: none;
  margin-bottom: 65px;
}

.user-data__title {
  .main-fonts();
  font-size: 24px;
  line-height: 26px;
  color: @black;
  margin-bottom: 35px;
}
