.advantages {
  .global-padding_mobile();
  margin-bottom: 49px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
}

.advantages__item-description {
  .margin-padding_off();
}

.advantages__list {
  .margin-padding_off();
  list-style-type: none;
  display: grid;
  gap: 20px;
}

.advantages__item--picture() {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.advantages__item--leaf,
.advantages__item--powder,
.advantages__item--food,
.advantages__item--time {
  padding-left: 80px;
  position: relative;
  min-height: 60px;
}

.advantages__item--leaf--back_element {
  position: relative;
}

.advantages__item--leaf::before {
  .advantages__item--picture();
  background-image: url("../img/advantages_icon/leaf.svg");
}

.advantages__item--powder::before {
  .advantages__item--picture();
  background-image: url("../img/advantages_icon/powder.svg");
}

.advantages__item--food::before {
  .advantages__item--picture();
  background-image: url("../img/advantages_icon/food.svg");
}

.advantages__item--time::before {
  .advantages__item--picture();
  background-image: url("../img/advantages_icon/time.svg");
}

.back-element() {
  font-size: 280px;
  .main-fonts();
  position: absolute;
  color: @grey-light;
  right: 0;
}

@media (min-width: @width-tablet) {
  .advantages {
    .global-padding_tablet();
    border-bottom: 1px solid @decor_line;
    padding-bottom: 47px;
    margin-bottom: 43px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .advantages__item {
    display: grid;
    grid-template-columns: 115px 115px;
    grid-template-rows: 140px 140px;
    align-items: start;
  }

  .advantages__wrapper .advantages__title {
    .fonts-size-title_width-tablet();
  }

  .advantages__item-description {
    line-height: 24px;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }

  .back-element() {
    position: absolute;
    .main-fonts();
    font-size: 280px;
    color: @grey-light;
    right: 0;
    grid-column: 2 / 2;
    grid-row: 2 / -1;
    z-index: -1;
  }

  .advantages__item--leaf,
  .advantages__item--powder,
  .advantages__item--food,
  .advantages__item--time {
    padding: 0;
  }

  .advantages__item--leaf::before,
  .advantages__item--powder::before,
  .advantages__item--food::before,
  .advantages__item--time::before {
    width: 80px;
    height: 80px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .advantages__item--leaf::after {
    content: "1";
    .back-element();
  }

  .advantages__item--powder::after {
    content: "2";
    .back-element();
  }

  .advantages__item--food::after {
    content: "3";
    .back-element();
  }

  .advantages__item--time::after {
    content: "4";
    .back-element();
  }
}

@media (min-width: @width-desktop) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__title {
    margin-bottom: 32px;
  }

  .advantages {
    .global-padding_desktop();
    margin-bottom: 69px;
  }
}
