.living-proof__wrapper {
  background-color: @living-proof-bg;
  padding: 25px 20px 40px;
}

.living-proof__description {
  .margin-padding_off();
  margin-bottom: 20px;
  font-size: 14px;
}

.living-proof__title {
  margin: 0;
  margin-bottom: 40px;
}

.living-proof__list {
  .margin-padding_off();
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.living-proof__item {
  max-width: 124px;
  width: 100%;
  position: relative;
}

.living-proof__item::after {
  content: "";
  width: 124px;
  height: 52px;
  border: 1px solid @living-proof-border;
  border-radius: 5px;
  border-bottom: none;
  background-color: transparent;
  position: absolute;
  top: -15px;
  left: 0;
}

.living-proof__number {
  .main-fonts();
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;
  margin-bottom: 7px;
}

.living-proof__number-description {
  max-width: 77px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.living-proof__number-description::before {
  content: "";
  width: 18px;
  height: 1px;
  background-color: @living-proof-border;
  position: absolute;
  bottom: 0;
  left: 0;
}

.living-proof__cost {
  .main-fonts();
  .text-trasform();
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: @black;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: @width-tablet) {
  .living-proof__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .living-proof__wrapper {
    background-color: #ffffff;
  }

  .living-proof__wrapper .living-proof__title {
    .fonts-size-title_width-tablet();
  }

  .living-proof__description {
    margin-bottom: 65px;
  }

  .living-proof__cost {
    .fonts-size-living-proof__cost();
  }
}

@media (min-width: @width-desktop) {
  .living-proof__wrapper {
    padding: 43px 30px 101px;
  }

  .living-proof {
    .global-padding_desktop();
    display: flex;
    justify-content: space-between;
  }

  .living-proof__wrapper .living-proof__title {
    .fonts-size-title_width-tablet();
    margin-bottom: 63px;
  }

  .living-proof__description {
    font-size: inherit;
    line-height: 24px;
    max-width: 436px;
  }
}
