.main-container__button-wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.main-container__button {
  color: @white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @green;
  display: block;
  text-align: center;
}

@media (max-width: @mobile-width-only) {
  .not-mobile {
    display: none;
  }
}

@media (min-width: @width-tablet) {
  .main-container__button-wrapper {
    .padding-main-title_tablet();
    width: 245px;
    order: -1;
    z-index: 0;
  }

  .not-mobile {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

@media (min-width: @width-desktop) {
  .main-container__button-wrapper {
    top: 207px;
    grid-column: 1 / 2;
  }
}
