.main-container__button-wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.main-container__button {
  color: @white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @green;
  display: block;
  text-align: center;
}

@media (min-width: @width-tablet) {
  .main-container__button-wrapper {
    width: 245px;
    order: -1;
  }
}

@media (min-width: @width-desktop) {
  .main-container__button-wrapper {
    top: 207px;
  }
}
