.main-intro {
  .main-fonts();
  color: @black;
  background-color: @white;
  position: relative;
  display: flex;
  flex-direction: column;

  &--visible_background {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_green_cat/background_cat@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -30px;
    background-size: cover;
    position: relative;
    z-index: -1;
    padding: 27px 20px 0;
    align-items: center;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_green_cat/background_cat@2x.jpg");
    }

    &::after {
      content: "";
      min-width: 322px;
      width: 100%;
      height: 178px;
      position: absolute;
      background-color: inherit;
      bottom: 0;
      left: 0;
      z-index: -2;
    }
  }
}

.title {
  .main-fonts();
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.main-intro__title {
  text-align: center;
  color: @white;
  margin: 0;
  margin-bottom: 25px;
}

.main-intro__description {
  .margin-padding_off();
  color: @white;
  text-align: center;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.main-intro__button-wrapper {
  padding: 16px 44px;
  background-color: @green;
  margin: 0 20px;
}

.button {
  .main-fonts();
  .text-trasform();
  font-size: 14px;
  line-height: 18px;
  color: @black;
  text-decoration: none;

  &--last-card {
    color: @black-max_light;
    background-color: @grey-light;
    border: none;
    width: 100%;
    padding: 10px 0;
  }
}

.main-intro__button {
  color: @white;
  text-align: center;
  display: block;
}

/*  @MEDIA  */
@media (min-width: @width-tablet) {
  .main-intro--visible_background {
    background-image: none;
    align-items: flex-start;
  }


  .main-intro__title,
  .main-intro__description {
    .padding-main-title_tablet();
    color: @black;
    text-align: left;
    order: -2;
  }

  .main-intro__picture {
    position: relative;
    top: -83px;
    z-index: -1;
  }

  .main-intro__title {
    .fonts-size-title_width-tablet();
    margin-bottom: 41px;
  }

  .main-intro__description {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  .button {
    .button-font-size_tablet();
  }
}

@media (min-width: @width-desktop) {
  .main-intro {
    display: grid;
    grid-template-columns: 415px min-content;
    grid-template-rows: repeat(3, min-content);
  }

  .main-intro--visible_background {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_green_cat/background_cat@1x.jpg");
    padding-top: 140px;
    background-position: 50vw center;
    background-size: cover;
  }

  .main-intro--visible_background::after {
    display: none;
  }

  .main-intro__title {
    padding-top: 110px;
  }

  .main-intro__description {
    grid-column: 1 / 2;
  }

  .main-intro__picture {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    position: static;
  }
}
