.main-intro {
  .main-fonts();
  color: @black;
  background-color: @white;
  position: relative;
  display: flex;
  flex-direction: column;

  &--visible_background {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_cat.jpg");
    background-repeat: no-repeat;
    background-position: center -156px;
    background-size: cover;
    position: relative;
    z-index: -1;
    padding: 27px 20px 0;
    align-items: center;
  }
}

.title {
  .main-fonts();
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.main-intro__title {
  text-align: center;
  color: @white;
  margin: 0;
  margin-bottom: 25px;
}

.main-intro__description {
  .margin-padding_off();
  color: @white;
  text-align: center;
  margin-bottom: 29px;
}

.main-intro__button-wrapper {
  padding: 16px 44px;
  background-color: @green;
  margin: 0 20px;
}

.button {
  .main-fonts();
  .text-trasform();
  font-size: 14px;
  line-height: 18px;
  color: @black;
  text-decoration: none;

  &--last-card {
    color: @black-max_light;
    background-color: @grey-light;
    border: none;
    width: 100%;
    padding: 10px 0;
  }
}

.main-intro__button {
  color: @white;
  text-align: center;
  display: block;
}

/*  @MEDIA  */
@media (min-width: @width-tablet) {
  .main-intro--visible_background {
    background-image: none;
    padding-left: 117px;
    align-items: flex-start;
  }

  .main-intro__title,
  .main-intro__description {
    color: @black;
    text-align: left;
    order: -2;
  }

  .main-intro__title {
    .fonts-size-title_width-tablet();
  }
}

@media (min-width: @width-desktop) {
  .main-intro--visible_background {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_cat.jpg");
    padding-top: 70px;
  }

  .main-intro--visible_background::before {
    background-color: @green-transparency;
  }
}
