.additional-items-button {
  border: none;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  color: @white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @green;
  cursor: pointer;
}

@media (min-width: @width-tablet) {
  .additional-items-button {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }
}
