.gift {
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 0 60px 43px;


  &--back-picture {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift_for_cat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
    margin: 0 20px 35px;
    z-index: -1;
    box-sizing: border-box;
  }
}

.gift__description {
  margin: 0;
  padding-top: 187px;

  &--icon {
    background-image: url("../img/gift_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 61px;
    left: 0;
    margin: auto;
  }
}

@media (min-width: @width-tablet) {
  .gift--back-picture {
    margin: 0 30px 76px;
  }
}

@media (min-width: @width-desktop) {
  .gift--back-picture {
    margin: 0;
    max-width: 245px;
    max-height: 290px;
  }
}
